<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 
1. Open the url : https://exchangeratesapi.io/ and click on **Get Free API Key**. 
2. Subscribe for Free plan and Sign-in with the Google Account. 
3. Once the account is created you will be redirected to https://apilayer.com website.
2. Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png">

3. Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

 <b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [10]:
# Write your code here
# url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=*****Your API Key*****" #Make sure to change ******* to your API key.
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=c3g8RxOHFA8VSPFSVzuaVwScKnfXBB7B"
#Make sure to change ******* to your API key.

In [11]:
response = requests.get(url).text
response

'{\n    "success": true,\n    "timestamp": 1685041503,\n    "base": "EUR",\n    "date": "2023-05-25",\n    "rates": {\n        "AED": 3.936961,\n        "AFN": 93.808036,\n        "ALL": 110.304489,\n        "AMD": 414.255808,\n        "ANG": 1.931589,\n        "AOA": 584.826201,\n        "ARS": 252.727101,\n        "AUD": 1.648432,\n        "AWG": 1.929778,\n        "AZN": 1.822227,\n        "BAM": 1.954878,\n        "BBD": 2.163939,\n        "BDT": 114.905778,\n        "BGN": 1.953795,\n        "BHD": 0.404207,\n        "BIF": 3023.31944,\n        "BMD": 1.072099,\n        "BND": 1.450289,\n        "BOB": 7.406576,\n        "BRL": 5.398127,\n        "BSD": 1.071774,\n        "BTC": 4.0658207e-05,\n        "BTN": 88.658863,\n        "BWP": 14.622236,\n        "BYN": 2.705173,\n        "BYR": 21013.142204,\n        "BZD": 2.16034,\n        "CAD": 1.462246,\n        "CDF": 2492.630065,\n        "CHF": 0.97189,\n        "CLF": 0.031381,\n        "CLP": 865.891973,\n        "CNY": 7.589285,\n        "COP": 4814.829185,\n        "CRC": 575.428464,\n        "CUC": 1.072099,\n        "CUP": 28.410626,\n        "CVE": 110.848971,\n        "CZK": 23.614585,\n        "DJF": 190.533788,\n        "DKK": 7.450081,\n        "DOP": 58.483126,\n        "DZD": 146.632088,\n        "EGP": 33.135473,\n        "ERN": 16.081486,\n        "ETB": 58.224411,\n        "EUR": 1,\n        "FJD": 2.411955,\n        "FKP": 0.866863,\n        "GBP": 0.87048,\n        "GEL": 2.766221,\n        "GGP": 0.866863,\n        "GHS": 11.793348,\n        "GIP": 0.866863,\n        "GMD": 63.84362,\n        "GNF": 9279.017102,\n        "GTQ": 8.365053,\n        "GYD": 226.680918,\n        "HKD": 8.399629,\n        "HNL": 26.448679,\n        "HRK": 7.445021,\n        "HTG": 151.655607,\n        "HUF": 372.760264,\n        "IDR": 16043.587678,\n        "ILS": 3.998184,\n        "IMP": 0.866863,\n        "INR": 88.686235,\n        "IQD": 1404.449811,\n        "IRR": 45349.791766,\n        "ISK": 150.104635,\n        "JEP": 0.866863,\n        "JMD": 165.232029,\n        "JOD": 0.760651,\n        "JPY": 150.09284,\n        "KES": 148.2179,\n        "KGS": 93.904872,\n        "KHR": 4406.326822,\n        "KMF": 490.967797,\n        "KPW": 964.822311,\n        "KRW": 1425.773928,\n        "KWD": 0.329745,\n        "KYD": 0.893187,\n        "KZT": 478.064408,\n        "LAK": 18909.153605,\n        "LBP": 16194.057065,\n        "LKR": 324.101015,\n        "LRD": 179.897792,\n        "LSL": 20.63731,\n        "LTL": 3.16563,\n        "LVL": 0.648502,\n        "LYD": 5.162148,\n        "MAD": 10.964892,\n        "MDL": 19.07782,\n        "MGA": 4727.956744,\n        "MKD": 61.589788,\n        "MMK": 2250.758894,\n        "MNT": 3741.34122,\n        "MOP": 8.646439,\n        "MRO": 382.739191,\n        "MUR": 48.780176,\n        "MVR": 16.467649,\n        "MWK": 1097.291452,\n        "MXN": 19.143412,\n        "MYR": 4.958995,\n        "MZN": 67.809875,\n        "NAD": 20.637604,\n        "NGN": 494.772353,\n        "NIO": 39.134926,\n        "NOK": 11.850496,\n        "NPR": 141.854061,\n        "NZD": 1.771638,\n        "OMR": 0.412805,\n        "PAB": 1.071774,\n        "PEN": 3.960872,\n        "PGK": 3.773834,\n        "PHP": 60.121202,\n        "PKR": 306.620307,\n        "PLN": 4.503729,\n        "PYG": 7758.338953,\n        "QAR": 3.903571,\n        "RON": 4.950742,\n        "RSD": 117.233701,\n        "RUB": 85.789312,\n        "RWF": 1214.152222,\n        "SAR": 4.020521,\n        "SBD": 8.927611,\n        "SCR": 14.148755,\n        "SDG": 643.791878,\n        "SEK": 11.618215,\n        "SGD": 1.452603,\n        "SHP": 1.304477,\n        "SLE": 24.191244,\n        "SLL": 21173.956758,\n        "SOS": 610.543387,\n        "SRD": 39.985125,\n        "STD": 22190.286646,\n        "SVC": 9.3774,\n        "SYP": 2693.591088,\n        "SZL": 20.638195,\n        "THB": 37.223006,\n        "TJS": 11.703677,\n        "TMT": 3.752347,\n        "TND": 3.31359,\n        "TOP": 2.546443,\n        "TRY": 21.372192,\n        "TTD": 7.288561,\n        "TWD": 33.050139,\n        "TZS": 2535.514553,\n        "UAH": 39.58529,\n        "UGX": 3998.0388,\n        "USD": 1.072099,\n        "UYU": 41.42084,\n        "UZS": 12264.813938,\n        "VEF": 2783916.95897,\n        "VES": 27.878921,\n        "VND": 25167.526185,\n        "VUV": 128.101225,\n        "WST": 2.911393,\n        "XAF": 655.647609,\n        "XAG": 0.047105,\n        "XAU": 0.000552,\n        "XCD": 2.897402,\n        "XDR": 0.803506,\n        "XOF": 652.369154,\n        "XPF": 119.404986,\n        "YER": 268.400316,\n        "ZAR": 21.206281,\n        "ZMK": 9650.181075,\n        "ZMW": 20.742211,\n        "ZWL": 345.21547\n    }\n}\n'

### Save as DataFrame

 <b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [14]:
# Turn the data into a dataframe
df = pd.read_json(url)
df

     success           timestamp base       date        rates
AED     True 2023-05-25 19:07:04  EUR 2023-05-25     3.937118
AFN     True 2023-05-25 19:07:04  EUR 2023-05-25    93.802588
ALL     True 2023-05-25 19:07:04  EUR 2023-05-25   110.318606
AMD     True 2023-05-25 19:07:04  EUR 2023-05-25   414.241644
ANG     True 2023-05-25 19:07:04  EUR 2023-05-25     1.931505
..       ...                 ...  ...        ...          ...
YER     True 2023-05-25 19:07:04  EUR 2023-05-25   268.388337
ZAR     True 2023-05-25 19:07:04  EUR 2023-05-25    21.206119
ZMK     True 2023-05-25 19:07:04  EUR 2023-05-25  9649.766159
ZMW     True 2023-05-25 19:07:04  EUR 2023-05-25    20.741319
ZWL     True 2023-05-25 19:07:04  EUR 2023-05-25   345.200630

[170 rows x 5 columns]

In [15]:
# Drop unnescessary columns
df.drop(['success','timestamp','base','date'], inplace=True, axis=1)
df

           rates
AED     3.937118
AFN    93.802588
ALL   110.318606
AMD   414.241644
ANG     1.931505
..           ...
YER   268.388337
ZAR    21.206119
ZMK  9649.766159
ZMW    20.741319
ZWL   345.200630

[170 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [ ]:
# Save the Dataframe

Your CSV should be in this format with more currencies

| | Rates |
| ------- | ------- |
|  AED| 4.398618    |
|  AFN| 92.917693   |  
|  ALL| 123.099093  |
|  AMD| 621.935674  |
|  ANG| 2.149648    |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url|
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).